.container{
    width: 100vw;
    /* height: 100vh; */
    background-color: rgba(245, 240, 240, 0.52);
    position: fixed;
    top:0;
    z-index: 999;
    display: flex;
    justify-content: center;
    padding-top: 70px;
   
}

.wrapper{
    width: 500px;
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    position: relative;
}

.close{
    width: 30px;
    height: 30px;
    color: red;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top:9px;
    right: 0px;
}

.item{
    display: flex;

    flex-direction: column;
    margin-bottom: 10px;
}

.label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.input{
    border: none;
    border-bottom: 1px solid grey;
    outline:nine;
}

.priceContainer{
display: flex;
justify-content: space-between;
}

.inputSm{
width: 25%;
}
.extra{
    display: flex;
    justify-content: space-between;
}

.extraButton{
    background-color: teal;
    color:#fff;
    font-weight: 500;
    border:none;
}
.extraButton:hover{
    background-color: rgb(113, 175, 175);
} 


.extraItems{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;

}

.extraItem{
    padding: 5px;
    font-size: 14px;
    border: 1px solid tomato;
    background-color: #fff;
    color: tomato;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.addButton{
    width: 25%;
    border:none;
    background-color: teal;
    color:#fff;
    font-weight: 500;
    cursor: pointer;
    padding:5px 0;
    align-self:flex-end;
}

.addButton:hover{
    background-color: rgb(113, 175, 175);
} 
